/* Add any custom styling you need here */
.w-100 {
    width: 100%;
}

.mt-3 {
    margin-top: 1rem;
}

.gap-2 {
    gap: 0.5rem;
}

.w-50 {
    width: 50%;
}

::ng-deep .p-datepicker{
    width: 100% !important;
}
