<form class="deposit-form" autocomplete="off" #createDepositForm="ngForm" (ngSubmit)="save()">

  <!-- HEADER -->
  <abp-modal-header title="Collect Deposit" (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>

  <!-- BODY -->
  <div class="modal-body">

    <!-- Amount -->
    <div class="form-group">
      <label>Amount</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">₹</span>
        </div>
        <input type="number" class="form-control custom-input" [(ngModel)]="amount" name="amount"
          placeholder="Enter amount" required />
      </div>
    </div>

    <!-- Payment Method -->
    <div class="form-group mt-3">
      <label>Payment Method</label>

      <div class="payment-container">

        <div class="payment-card" [class.active]="paymentMethod === PaymentMethod._0"
          (click)="setPaymentMethod(PaymentMethod._0)">
          <div class="icon">💵</div>
          <div class="text">Cash</div>
        </div>

        <div class="payment-card" [class.active]="paymentMethod === PaymentMethod._1"
          (click)="setPaymentMethod(PaymentMethod._1)">
          <div class="icon">💳</div>
          <div class="text">Card</div>
        </div>

      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <abp-modal-footer [cancelDisabled]="isSaving" [saveDisabled]="!createDepositForm.form.valid || isSaving"
    (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>

</form>