<form class="form-horizontal" autocomplete="off" #prescriptionForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Create New Prescription" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

  <div class="modal-body scrollable-body">

    <!-- Patient Selection -->
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <b>Select Patient</b>
          <p-button label="Add New Patient" variant="text" severity="info" *ngIf="showAddPatientButton"
            (onClick)="showCreatePatientDialog()" />
        </div>
        <p-select [(ngModel)]="prescription.patientId" name="patientId" [options]="patients" [optionValue]="'id'"
          [disabled]="dischargePatientID>0" optionLabel="fullName" placeholder="Select a patient" class="w-100" required
          (onChange)="LoadAppoinments()" />
      </div>
    </div>

    <!-- Appointment Selection -->
    <div class="row mt-3" *ngIf="!isPatientAdmitted()">
      <div class="col-md-12">
        <label><b>Appointment</b></label>
        <p-select [(ngModel)]="prescription.appointmentId" name="appointmentId" [options]="appointments"
          optionValue="id" placeholder="Select appointment" class="w-100">
          <!-- List item rendering -->
          <ng-template let-app pTemplate="item">
            {{ app.appointmentDate | date:'dd/MM/yyyy' }} - {{ app.patient?.fullName }}
          </ng-template>

          <!-- Selected item rendering -->
          <ng-template let-app pTemplate="selectedItem">
            {{ app?.appointmentDate | date:'dd/MM/yyyy' }} - {{ app?.patient?.fullName }}
          </ng-template>
        </p-select>

      </div>
    </div>

    <!-- Diagnosis -->
    <div class="row mt-3">
      <div class="col-md-6 d-flex flex-column">
        <label>Diagnosis</label>
        <input type="text" pInputText [(ngModel)]="prescription.diagnosis" name="diagnosis" required
          placeholder="Enter diagnosis" />
      </div>
      <div class="col-md-6" *ngIf="isAdmin">
        <label for="doctorSelect">Select Doctor</label>
        <p-select id="doctorSelect" [(ngModel)]="prescription.doctorId" [optionValue]="'id'" name="doctorId"
          [options]="doctors" optionLabel="fullName" placeholder="Select doctor" class="w-100" required />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label><b>Select Lab Tests (if required)</b></label>
        <p-multiSelect [(ngModel)]="selectedLabTests" [options]="labTests" optionLabel="name" optionValue="id"
          placeholder="Select Lab Tests" display="chip" class="w-100" name="labTests">
        </p-multiSelect>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <label><b>Select Procedures (if required)</b></label>
        <p-multiSelect [(ngModel)]="selectedProcedures" [options]="procedures" placeholder="Select Procedures"
          display="chip" class="w-100" name="procedureIds">
        </p-multiSelect>
      </div>
    </div>


    <!-- Notes -->
    <div class="row mt-3">
      <div class="col-md-12 d-flex flex-column">
        <label>Notes</label>
        <textarea pTextarea [(ngModel)]="prescription.notes" name="notes" rows="3" class="w-100"
          placeholder="Enter notes"></textarea>
      </div>
    </div>

    <!-- Issue Date & Follow-up -->
    <div class="row mt-3">
      <div class="col-md-6 d-flex align-items-center mt-4">
        <p-checkbox [(ngModel)]="prescription.isFollowUpRequired" name="isFollowUpRequired" inputId="followup"
          [binary]="true" />
        <label for="followup" class="ml-2"><b>Follow-up Required</b></label>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="mb-0"><b>Prescription Items</b></h5>
          <p-button label="Add Item" icon="fa-solid fa-plus" severity="info" (click)="addItem()"></p-button>
        </div>

        <!-- Prescription Items -->
        <div *ngFor="let item of prescription.items; let i = index" class="border rounded p-3 mb-3">
          <div class="row">
            <div class="col-12 d-flex justify-content-end mb-2">
              <button type="button" class="btn btn-danger" (click)="removeItem(i)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
          <!-- Row 1 -->
          <div class="row mb-2">
            <div class="col-md-4">
              <p-dropdown appendTo="self" [(ngModel)]="item.medicineFormId" name="medicineForm{{i}}"
                [options]="medicineForms" optionLabel="label" optionValue="value" class="w-100"
                placeholder="Medicine Type" (onChange)="onMedicineFormChange(item, i)">
              </p-dropdown>
            </div>

            <div class="col-md-4">
              <p-dropdown appendTo="self" class="w-100" [(ngModel)]="item.medicineId" name="medicine{{i}}"
                [options]="item.filteredMedicines || []" optionLabel="label" optionValue="value"
                placeholder="Select Medicine" (onChange)="onMedicineChange(item, i)">
              </p-dropdown>
            </div>

            <div class="col-md-4">
              <input type="text" [(ngModel)]="item.dosage" name="dosage{{i}}" class="form-control" placeholder="Dosage"
                readonly>
            </div>
          </div>

          <!-- Row 2 -->
          <div class="row mb-2">
            <div class="col-md-4">
              <p-dropdown appendTo="self" class="w-100" [(ngModel)]="item.frequency" name="frequency{{i}}"
                [options]="frequencyOptions" optionLabel="label" optionValue="value" placeholder="Frequency">
              </p-dropdown>
            </div>

            <div class="col-md-4 d-flex">
              <input type="number" pInputText [(ngModel)]="item.durationValue" name="durationValue{{i}}"
                placeholder="Duration" min="1" class="form-control me-1">
              <p-dropdown appendTo="self" [(ngModel)]="item.durationUnit" name="durationUnit{{i}}"
                [options]="durationUnits" optionLabel="label" optionValue="value">
              </p-dropdown>
            </div>

            <div class="col-md-4">
              <textarea pInputText [(ngModel)]="item.instructions" class="form-control" name="instructions{{i}}"
                placeholder="Instructions" rows="1"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="isSaveDisabled()" (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>
</form>