<form class="form-horizontal" autocomplete="off" #prescriptionForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Create New Prescription" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

  <div class="modal-body scrollable-body">

    <!-- Patient Selection -->
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <b>Select Patient</b>
          <p-button label="Add New Patient" variant="text" severity="info" *ngIf="showAddPatientButton"
            (onClick)="showCreatePatientDialog()" />
        </div>
        <p-select [(ngModel)]="prescription.patientId" name="patientId" [options]="patients" [optionValue]="'id'"
          optionLabel="fullName" placeholder="Select a patient" class="w-100" required (onChange)="LoadAppoinments()" />
      </div>
    </div>

    <!-- Appointment Selection -->
    <div class="row mt-3">
      <div class="col-md-12">
        <label><b>Appointment</b></label>
        <p-select [(ngModel)]="prescription.appointmentId" name="appointmentId" [options]="appointments"
          optionValue="id" placeholder="Select appointment" class="w-100">
          <!-- List item rendering -->
          <ng-template let-app pTemplate="item">
            {{ app.appointmentDate | date:'dd/MM/yyyy' }} - {{ app.patient?.fullName }}
          </ng-template>

          <!-- Selected item rendering -->
          <ng-template let-app pTemplate="selectedItem">
            {{ app?.appointmentDate | date:'dd/MM/yyyy' }} - {{ app?.patient?.fullName }}
          </ng-template>
        </p-select>

      </div>
    </div>

    <!-- Diagnosis -->
    <div class="row mt-3">
      <div class="col-md-12 d-flex flex-column">
        <label>Diagnosis</label>
        <input type="text" pInputText [(ngModel)]="prescription.diagnosis" name="diagnosis" required
          placeholder="Enter diagnosis" />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label><b>Select Lab Tests (if required)</b></label>
        <p-multiSelect [(ngModel)]="selectedLabTests" [options]="labTests" optionLabel="name" optionValue="id"
          placeholder="Select Lab Tests" display="chip" class="w-100" name="labTests">
        </p-multiSelect>
      </div>
    </div>

    <!-- Notes -->
    <div class="row mt-3">
      <div class="col-md-12 d-flex flex-column">
        <label>Notes</label>
        <textarea pTextarea [(ngModel)]="prescription.notes" name="notes" rows="3" class="w-100"
          placeholder="Enter notes"></textarea>
      </div>
    </div>

    <!-- Issue Date & Follow-up -->
    <div class="row mt-3">
      <div class="col-md-6 d-flex align-items-center mt-4">
        <p-checkbox [(ngModel)]="prescription.isFollowUpRequired" name="isFollowUpRequired" inputId="followup"
          [binary]="true" />
        <label for="followup" class="ml-2"><b>Follow-up Required</b></label>
      </div>
    </div>

    <!-- Prescription Items -->
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <div><b>Prescription Items</b></div>
          <div>
            <p-button label="Add Item" variant="text" severity="info" (click)="addItem()" icon="fa-solid fa-plus" />
          </div>
        </div>

        <div class="d-flex" *ngIf="prescription.items.length>0">
          <p class="w-25 m-0">Medicine</p>
          <p class="w-25 m-0">Dosage</p>
          <p class="w-25 m-0">Frequency</p>
          <p class="w-25 m-0">Duration</p>
          <p class="w-25 m-0">Instructions</p>
        </div>

        <div *ngFor="let item of prescription.items; let i = index" class="mt-2">
          <div class="d-flex align-items-center">
            <!-- Medicine Dropdown -->
            <p-dropdown appendTo="self" [(ngModel)]="item.medicineId" [options]="medicineOptions" optionLabel="label"
              optionValue="value" placeholder="Select Medicine" class="w-25 mr-2" name="itemMedicine{{i}}"
              (onChange)="onMedicineChange(item, i)">
            </p-dropdown>
            <!-- Dosage Dropdown -->
            <p-dropdown appendTo="self" *ngIf="item.medicineName && medicineDosageOptions[item.medicineName]" [(ngModel)]="item.dosage"
              [options]="getDosageOptions(item.medicineName)" optionLabel="label" optionValue="value"
              placeholder="Dosage" class="w-25 mr-2" name="itemDosage{{i}}">
            </p-dropdown>
            <input *ngIf="!item.medicineName || !medicineDosageOptions[item.medicineName]" type="text" pInputText
              [(ngModel)]="item.dosage" name="itemDosage{{i}}" class="w-25 mr-2" placeholder="Dosage" />

            <!-- Frequency Dropdown -->
            <p-dropdown appendTo="self" [(ngModel)]="item.frequency" [options]="frequencyOptions" optionLabel="label"
              optionValue="value" placeholder="Frequency" class="w-25 mr-2" name="itemFrequency{{i}}"></p-dropdown>

            <!-- Duration (Input + Dropdown) -->
            <div class="d-flex w-25 mr-2">
              <input type="number" pInputText [(ngModel)]="item.durationValue" placeholder="Duration" class="w-50 mr-1"
                min="1" required name="durationValue{{i}}">

              <p-dropdown appendTo="self" [(ngModel)]="item.durationUnit" [options]="durationUnits" optionLabel="label"
                optionValue="value" class="w-50" name="itemDurationUnit{{i}}" required></p-dropdown>
            </div>

            <!-- Instructions Textarea -->
            <textarea pInputText [(ngModel)]="item.instructions" name="itemInstructions{{i}}" class="w-25 mr-2"
              placeholder="Instructions" rows="1"></textarea>

            <p-button variant="text" severity="danger" (click)="removeItem(i)" icon="fa-solid fa-xmark" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="isSaveDisabled()" (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>
</form>