<form class="form-horizontal" autocomplete="off" #editAdmissionForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Edit Admission" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label><b>Select Patient</b></label>
                <p-select [options]="patients" optionLabel="fullName" placeholder="Select a patient"
                    [optionValue]="'id'" [(ngModel)]="admission.patientId" name="patientId" class="w-100" required />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex flex-column">
                <label>Select Doctor</label>
                <p-select [(ngModel)]="admission.doctorId" [optionValue]="'id'" name="doctorId" [options]="doctors"
                    optionLabel="fullName" placeholder="Select doctor" class="w-100" required />
            </div>
            <div class="col-md-6 d-flex flex-column">
                <label>Select Nurse</label>
                <p-select [(ngModel)]="admission.nurseId" [optionValue]="'id'" name="nurseId" [options]="nurses"
                    optionLabel="fullName" placeholder="Select nurse" class="w-100" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex flex-column">
                <label>Admission Date & Time</label>
                <p-datepicker [(ngModel)]="admission.admissionDateTime" name="admissionDateTime" [showIcon]="true"
                    placeholder="Select admission date & time" showTime="true" class="w-100" required />
            </div>
            <div class="col-md-6 d-flex flex-column">
                <label>Select Room</label>
                <p-select [(ngModel)]="admission.roomId" [optionValue]="'value'" name="roomId" [options]="roomOptions"
                    optionLabel="label" placeholder="Select room" class="w-100" required />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex flex-column">
                <label>Admission Type</label>
                <p-select [(ngModel)]="admission.admissionType" name="admissionType" [options]="admissionTypeOptions"
                    optionLabel="label" optionValue="value" placeholder="Select admission type" class="w-100" required />
            </div>
            
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editAdmissionForm.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
