<form #doctorForm="ngForm">

  <div class="form-group row required mb-0">
    <div class="col-md-4">
      <label class="col-form-label" for="specialization">Specialization</label>
      <input class="w-100" type="text" id="specialization" name="specialization" pInputText required
        [(ngModel)]="doctorData.specialization" (ngModelChange)="onInputChange()" #specializationModel="ngModel"
        placeholder="Enter specialization" #specializationEl>
      <abp-validation-summary [control]="specializationModel" [controlEl]="specializationEl"></abp-validation-summary>
    </div>
    <div class="col-md-4">
      <label class=" col-form-label" for="qualification">Qualification</label>
      <input class="w-100" type="text" id="qualification" name="qualification" pInputText required
        [(ngModel)]="doctorData.qualification" (ngModelChange)="onInputChange()" #qualificationModel="ngModel"
        #qualificationEl placeholder="Enter qualification">
      <abp-validation-summary [control]="qualificationModel" [controlEl]="qualificationEl"></abp-validation-summary>
    </div>
    <div class="col-md-4">
      <label class="col-form-label" for="experience">Years of Experience</label>
      <input class="w-100" type="number" id="experience" name="experience" pInputText required min="0"
        [(ngModel)]="doctorData.yearsOfExperience" (ngModelChange)="onInputChange()" #expModel="ngModel" #expEl
        placeholder="Enter experience">
      <abp-validation-summary [control]="expModel" [controlEl]="expEl"></abp-validation-summary>
    </div>
  </div>


  <div class="form-group row required mb-0">
    <div class="col-md-4">
      <label class="col-form-label">Gender</label>
      <div class="d-flex flex-row">
        <div *ngFor="let gender of genders" class=" mr-2">
          <p-radiobutton name="gender" [value]="gender" [(ngModel)]="doctorData.gender"
            (ngModelChange)="onInputChange()" #genderEl required #genderModel="ngModel" size="small" class="mr-2" />
          <label class="m-0" [for]="'gender_' + gender">{{ gender }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column">
      <label class="col-form-label">Date of Birth</label>
      <p-datepicker [(ngModel)]="doctorData.dateOfBirth" name="dateOfBirth" [showIcon]="true" [maxDate]="today"
        placeholder="Select birth date" (ngModelChange)="onInputChange()" #dobEl #dobModel="ngModel" required>
      </p-datepicker>
      <abp-validation-summary [control]="dobModel" [controlEl]="dobEl"></abp-validation-summary>
    </div>
    <div class="col-md-4 d-flex flex-column">
      <label class="col-form-label" for="registration">Registration Number</label>
      <input type="text" id="registration" name="registrationNumber" pInputText required
        [(ngModel)]="doctorData.registrationNumber" (ngModelChange)="onInputChange()" #regModel="ngModel" #regEl
        placeholder="Enter registrationNumber" />
      <abp-validation-summary [control]="regModel" [controlEl]="regEl"></abp-validation-summary>
    </div>
  </div>
  <div class="form-group row required mb-0">
    <div class="col-md-4 d-flex flex-column">
      <label class="col-form-label">Is EmergencyDoctor?</label>
      <p-checkbox (onChange)="OnCheckIsEmergencyDoctor($event)" [(ngModel)]="doctorData.isEmergencyDoctor"
        name="isEmergencyDoctor" [binary]="true" class="ml-2" />
    </div>
    <div class="col-md-8" *ngIf="!isEmergencyDoctor">
      <label class="col-form-label" for="department">Department</label>
      <p-select [options]="departments" placeholder="Select department" optionLabel="departmentName"
        (ngModelChange)="onInputChange()" #departmentModel="ngModel" #departmentEl optionValue="id"
        [(ngModel)]="doctorData.departmentId" name="emergencyCaseId" class="w-100" required>
      </p-select>
      <abp-validation-summary [control]="departmentModel" [controlEl]="departmentEl"></abp-validation-summary>
    </div>
  </div>
</form>