<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p-breadcrumb [model]="items" />
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-1" role="group" aria-label="Third group" pTooltip="Refresh"
                        tooltipPosition="top" (click)="refresh()">
                        <button type="button" class="btn btn-md refresh-btn">
                            <span class="pi pi-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2 pb-5">
        <div class="container-fluid">
            <div class="card mb-0 table-wrapper">
                <div class="card-body">
                    <div class="d-flex justify-content-end  align-items-center mb-3">
                        <div>
                            <input class="search-bar-text" type="text" pInputText [(ngModel)]="keyword" pSize="small"
                                [placeholder]="'SearchWithThreeDot' | localize" (input)="list()" />
                        </div>
                    </div>
                    <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                        rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                        [tableStyle]="{ 'min-width': '50rem' }" (onLazyLoad)="list($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 100px" pSortableColumn="patientName">
                                    Patient Name
                                    <p-sortIcon field="patientName"></p-sortIcon>
                                </th>
                                <th style="min-width: 50px">
                                    Gender
                                </th>
                                <th style="min-width: 100px">
                                    Date
                                </th>
                                <th style="min-width: 100px" pSortableColumn="doctorName" *ngIf="showDoctorColumn">
                                    Referred By
                                    <p-sortIcon field="patientName"></p-sortIcon>
                                </th>
                                <th style="min-width: 150px" pSortableColumn="testname">
                                    Test Type
                                </th>
                                <th style="min-width: 100px" pSortableColumn="status">
                                    {{ 'Status' | localize }}
                                </th>
                                <th style="min-width: 150px">
                                    {{ 'Actions' | localize }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td>
                                    <p-avatar [label]="getShortName(record.patientName)" class="mr-1" size="small" />
                                    <span>
                                        {{ record.patientName }}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{ record.gender }}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{ record.date | date: 'dd/MM/yyyy' }}
                                    </span>
                                </td>
                                <td *ngIf="showDoctorColumn">
                                    <span>
                                        Dr. {{ record.doctorName }}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{ record.labReportTypeName }}
                                    </span>
                                </td>
                                <td>
                                    <p-tag [value]="getStatusLabel(record.testStatus)"
                                        [severity]="getStatusSeverity(record.testStatus)" [rounded]="true">
                                    </p-tag>
                                </td>
                                <td>
                                    <button type="button" pButton icon="pi pi-eye" class="p-button-text"
                                        (click)="ViewLabReport(record.id)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data text-center m-2" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ 'NoData' | localize }}
                    </div>
                    <div class="ui-table-footer"></div>
                </div>
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="list($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                        "></p-paginator>
            </div>
        </div>
    </section>
</div>