<form class="form-horizontal" autocomplete="off" #insuranceForm="ngForm" (ngSubmit)="save()">
    <!-- Modal Header -->
    <abp-modal-header [title]="id ? 'Edit Insurance' : 'Create Insurance'"
        (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    <!-- Modal Body -->
  <div class="row p-3">
        <!-- Insurance Name -->
        <div class="col-md-6 d-flex flex-column">
            <label for="insuranceName" class="form-label fw-semibold">Insurance Name</label>
            <input pInputText id="insuranceName" name="insuranceName" class="form-control" required
                placeholder="Enter insurance name" [(ngModel)]="insurance.insuranceName" />
        </div>

        <!-- Active Toggle -->
        <div class="col-md-6 d-flex flex-column">
            <label for="isActive" class="form-label fw-semibold mb-3">Active Status:</label>
            <p-inputSwitch id="isActive" name="isActive" [(ngModel)]="insurance.isActive"></p-inputSwitch>
        </div>
    </div>

    <!-- Modal Footer -->
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!isFormValid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>