::ng-deep .p-breadcrumb {
  background: none !important;
  padding: 0 !important;
}

::ng-deep .add-btn {
  background-color: #1F6DB2 !important;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

::ng-deep .add-btn:hover {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

::ng-deep .refresh-btn {
  background: white;
  border-radius: 5px;
  border: 1px solid #E2E8F0;
}

::ng-deep .p-card-header {
  border-bottom: 1px solid #E2E8F0;
}

::ng-deep .p-card {
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 700;
}

::ng-deep .header-content {
  padding: 1.5rem;
}

::ng-deep .dropdown-toggle:after {
  display: inline-block;
  vertical-align: 0;
  border: 0;
  font-size: 14px;
  position: relative;
  content: "\f107";
  font-family: "FontAwesome";
}

::ng-deep .search-bar-text {
  padding: 5px !important;
}

::ng-deep .p-popover-content {
  padding: 0px !important;
}

::ng-deep .p-datatable-thead {
  line-height: 2.5rem !important;
}

::ng-deep .p-datatable {
  border: 1px solid #E2E8F0;
}

::ng-deep .p-datatable th {
  padding: 5px 10px !important;
}

::ng-deep .p-datatable td {
  padding: 8px 12px !important;
}

::ng-deep .edit-delete-btn {
  background: white;
  border-radius: 5px;
  border: 1px solid #E2E8F0;
}