<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p-breadcrumb [model]="items" />
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-1" role="group" aria-label="Third group" pTooltip="Refresh" tooltipPosition="top"
            (click)="refresh()">
            <button type="button" class="btn btn-md refresh-btn">
              <span class="pi pi-refresh"></span>
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Fourth group" (click)="createEmergencyCase()">
            <button type="button" class="btn btn-md add-btn">
              <div class="d-flex align-items-center justify-content-between">
                <span class="pi pi-plus-circle mr-2"></span>
                <span>New Case</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-2 pb-3">
    <div class="container-fluid">
      <div class="card mb-0 table-wrapper">
        <div class="card-body">
          <div class="d-flex justify-content-end align-items-center mb-3">
            <div>
              <input class="search-bar-text" type="text" pInputText [(ngModel)]="keyword" pSize="small"
                [placeholder]="'SearchWithThreeDot' | localize" (input)="list()" />
            </div>
          </div>
          <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
            [tableStyle]="{ 'min-width': '60rem' }" (onLazyLoad)="list($event)">

            <ng-template #header>
              <tr>
                <th class="text-center">Emergency No</th>
                <th class="text-center">Patient</th>
                <th class="text-center">Doctor</th>
                <th class="text-center">Nurse</th>
                <th class="text-center">Arrival Time</th>
                <th class="text-center">Severity</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-record="$implicit">
              <tr>
                <td class="text-center">{{ record.emergencyNumber }}</td>
                <td class="text-center">
                  <p-avatar [label]="getShortName(record.patientName)" class="mr-1" size="small" />
                  {{ record.patientName||'unknown' }}
                </td>
                <td class="text-center">
                  <p-avatar [label]="getShortName(record.doctorName)"
                    [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" class="mr-1" size="small" />
                  <span *ngIf="record.doctorName">Dr.</span>{{ record.doctorName }}
                </td>
                <td class="text-center">
                  <p-avatar [label]="getShortName(record.nurseName)"
                    [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" class="mr-1" size="small" />
                  {{ record.nurseName }}
                </td>
                <td class="text-center">{{ record.arrivalTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td class="text-center">
                  <p-tag [value]="getSeverityLabel(record.severity)" [severity]="getSeverityTag(record.severity)"
                    [rounded]="true">
                  </p-tag>
                </td>
                <td class="text-center">
                  <p-tag [value]="getStatusLabel(record.status)" [severity]="getStatusTag(record.status)"
                    [rounded]="true">
                  </p-tag>
                </td>
                <td class="text-center">
                  <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-text"
                    (click)="rowMenu.toggle($event); selectedRecord = record" *ngIf="!idDischarged(record.status)">
                  </button>
                  <p-overlayPanel #rowMenu class="custom-overlay" [dismissable]="true">
                    <ul class="custom-overlay-menu">
                      <li (click)="editEmergencyCase(selectedRecord)" *ngIf="!idAdmitted(record.status)">
                        <i class="pi pi-pencil"></i> Edit
                      </li>
                      <li (click)="delete(selectedRecord)">
                        <i class="pi pi-trash"></i> Delete
                      </li>
                    </ul>
                  </p-overlayPanel>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="primeng-no-data text-center m-2" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{ 'NoData' | localize }}
          </div>
        </div>

        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="list($event)"
          [totalRecords]="primengTableHelper.totalRecordsCount"
          [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
          [currentPageReportTemplate]="'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount">
        </p-paginator>

      </div>
    </div>
  </section>
</div>