::ng-deep .p-datepicker {
    width: 100% !important;
}

.cash-col,
.card-col {
    padding: 5px 50px 5px 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cash-col.active,
.card-col.active {
    background-color: rgb(31, 156, 198);
    color: white;
    font-weight: 600;
    border-color: rgb(31, 156, 198);
}