<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p-breadcrumb [model]="items"></p-breadcrumb>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-1" role="group" aria-label="Third group" pTooltip="Refresh"
                        tooltipPosition="top" (click)="refresh()">
                        <button type="button" class="btn btn-md refresh-btn">
                            <span class="pi pi-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2 pb-5">
        <div class="container-fluid">
            <div class="card mb-0 table-wrapper">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <!-- Filter Button -->
                        <div class="ml-2 btn-group mr-1" role="group" aria-label="Second group" pTooltip="Filter"
                            tooltipPosition="top" (click)="statusMenu.toggle($event)">
                            <button type="button" class="btn btn-md refresh-btn">
                                <span class="pi pi-filter"></span>
                            </button>
                        </div>

                        <p-overlayPanel #statusMenu class="custom-overlay" [dismissable]="true">
                            <ul class="custom-overlay-menu list-unstyled mb-0 p-3">
                                <li>
                                    <div class="custom-control custom-radio d-inline">
                                        <input type="radio" class="custom-control-input" id="isActiveAll"
                                            name="isActive" [(ngModel)]="isActive" [value]="undefined" checked>
                                        <label class="custom-control-label" for="isActiveAll">
                                            {{ 'All' | localize }}
                                        </label>
                                    </div>
                                </li>
                                <li class="mt-2">
                                    <div class="custom-control custom-radio d-inline">
                                        <input type="radio" class="custom-control-input" id="isActiveActive"
                                            name="isActive" [(ngModel)]="isActive" [value]="true">
                                        <label class="custom-control-label" for="isActiveActive">
                                            {{ 'Yes' | localize }}
                                        </label>
                                    </div>
                                </li>
                                <li class="mt-2">
                                    <div class="custom-control custom-radio d-inline">
                                        <input type="radio" class="custom-control-input" id="isActivePassive"
                                            name="isActive" [(ngModel)]="isActive" [value]="false">
                                        <label class="custom-control-label" for="isActivePassive">
                                            {{ 'No' | localize }}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </p-overlayPanel>

                        <!-- Search Box -->
                        <div>
                            <input class="search-bar-text" type="text" pInputText [(ngModel)]="keyword"
                                [placeholder]="'SearchWithThreeDot' | localize" (input)="list()" />
                        </div>
                    </div>

                    <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                        rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                        [tableStyle]="{ 'min-width': '50rem' }" (onLazyLoad)="list($event)">
                        <ng-template #header>
                            <tr>
                                <th class="text-center" pSortableColumn="fullName">
                                    {{ 'FullName' | localize }}
                                    <p-sortIcon field="fullName"></p-sortIcon>
                                </th>
                                <th class="text-center">
                                    Age/Gender
                                </th>
                                <th class="text-center">
                                    Assigned Doctor
                                </th>
                                <th class="text-center">
                                    {{ 'IsActive' | localize }}
                                </th>
                                <th class="text-center">
                                    Action
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td class="text-center">
                                    <span>
                                        {{ record.fullName }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span>
                                        {{calculateAge(record.dateOfBirth)}} / {{record.gender}}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span>
                                        {{ record.doctorName ||'-' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="record.isActive; else inactive">
                                        <i class="pi pi-check-circle text-success fs-5"></i>
                                    </span>
                                    <ng-template #inactive>
                                        <i class="pi pi-times-circle text-danger fs-5"></i>
                                    </ng-template>
                                </td>
                                <td class="text-center">
                                    <span [className]="getStatusSeverity(record.discharge_Status)"
                                        *ngIf="record.discharge_Status!=0">
                                        <b>{{ getStatusLabel(record.discharge_Status) }}</b>
                                    </span>
                                    <button type="button" *ngIf="record.isAdmitted && record.discharge_Status==0"
                                        class="btn btn-sm btn-success" (click)="confirmInitiate(record)">
                                        Initiate Discharge
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data text-center m-2" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ 'NoData' | localize }}
                    </div>
                </div>

                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="list($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                        "></p-paginator>
            </div>
        </div>
    </section>
</div>
<p-confirmDialog></p-confirmDialog>