<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h4>Create</h4>
                    <div>
                        <p-breadcrumb [model]="items" />
                    </div>
                </div>
                <div>
                    <a [routerLink]="['/app/doctors/patients']" style="cursor: pointer;"><span
                            class="pi pi-arrow-left mr-2"></span>Back to
                        list</a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2 pb-5">
        <div class="container-fluid">
            <div class="card mb-0 table-wrapper">
                <div class="card-body">
                    <p-stepper [value]="currentStep" [linear]="true">
                        <div class="row">
                            <div class="col-md-3">
                                <p-step-list>
                                    <p-step [value]="1" class="mb-2 border rounded w-100">
                                        <i class="fa fa-info-circle mr-3"></i>
                                        <span>Patient Details</span>
                                        <i class="pi pi-check ml-3"
                                            *ngIf="data?.patientDischarge?.dischargeStatus >= 1"></i>
                                    </p-step>
                                    <p-step [value]="2" class="mt-2 mb-2 border rounded w-100">
                                        <i class="fa fa-clinic-medical mr-3"></i>
                                        Treatment Summary
                                        <i class="pi pi-check ml-3"
                                            *ngIf="data?.patientDischarge?.dischargeStatus >= 3"></i>
                                    </p-step>
                                    <p-step [value]="3" class="mt-2 mb-2 border rounded  w-100"> <i
                                            class="fa-vial fas nav-icon mr-3"></i> Lab Results
                                        <i class="pi pi-check ml-3"
                                            *ngIf="data?.patientDischarge?.dischargeStatus >=5"></i>
                                    </p-step>
                                    <p-step [value]="4" class="mt-2 mb-2 border rounded w-100"> <i
                                            class="fa-file-invoice-dollar fas nav-icon mr-3"></i> Billing
                                        Summary
                                        <i class="pi pi-check ml-3"
                                            *ngIf="data?.patientDischarge?.dischargeStatus >=7"></i>
                                    </p-step>
                                    <p-step [value]="5" class="mt-2 mb-2 border rounded w-100"> <i
                                            class="pi pi-sign-out mr-3"></i> Discharge Instructions
                                        <i class="pi pi-check ml-3"
                                            *ngIf="data?.patientDischarge?.dischargeStatus>=9"></i>
                                    </p-step>
                                </p-step-list>
                            </div>
                            <div class="col-md-9">
                                <p-step-panels class="p-0">
                                    <p-step-panel [value]="1">
                                        <ng-template #content let-activateCallback="activateCallback">
                                            <div class="card">
                                                <div class="card-header">
                                                    <b>Basic Information</b>
                                                </div>
                                                <div class="card-body">
                                                    <p-avatar [label]="getShortName(data?.patientDetails?.firstName)"
                                                        class="mr-1" size="xlarge" />
                                                    <div class="row">
                                                        <div class="col-md-2 d-flex flex-column">
                                                            <label>ID</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.patientId" pSize="small"
                                                                readonly />
                                                        </div>
                                                        <div class="col-md-5 d-flex flex-column">
                                                            <label>First Name</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.firstName" pSize="small"
                                                                readonly />
                                                        </div>
                                                        <div class="col-md-5 d-flex flex-column">
                                                            <label>Last Name</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.lastName" pSize="small"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>User Name</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.userName" pSize="small"
                                                                readonly />
                                                        </div>
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Email Address</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.emailAddress"
                                                                pSize="small" readonly />
                                                        </div>
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Gender</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.gender" pSize="small"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Dob</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.dob | date:'dd/MM/yyyy'"
                                                                pSize="small" readonly />
                                                        </div>
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Age</label>
                                                            <input type="text" pInputText
                                                                [value]="calculateAge(data?.patientDetails?.dob)"
                                                                pSize="small" readonly />
                                                        </div>
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Blood Group</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.bloodGroup" pSize="small"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mt-2">
                                                <div class="card-header">
                                                    <b>Contact Information</b>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Mobile Number</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.mobileNumber"
                                                                pSize="small" readonly />
                                                        </div>
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Emergency Number</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.emergencyNumber"
                                                                pSize="small" readonly />
                                                        </div>
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <label>Emergency Name</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.emergencyPersonName"
                                                                pSize="small" readonly />
                                                        </div>
                                                        <div class="col-md-12 d-flex flex-column">
                                                            <label>Address</label>
                                                            <input type="text" pInputText
                                                                [value]="data?.patientDetails?.address" pSize="small"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-sm next-btn " (click)="activateCallback(2)"
                                                    [disabled]="data?.patientDischarge?.dischargeStatus < 1">
                                                    Next
                                                </button>
                                            </div>
                                        </ng-template>
                                    </p-step-panel>
                                    <p-step-panel [value]="2">
                                        <ng-template #content let-activateCallback="activateCallback">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <b>Vital Signs</b>
                                                        </div>
                                                        <div>
                                                            <p-badge [value]="data?.vitals?.length"
                                                                severity="secondary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p-table [value]="data?.vitals" [paginator]="true" [rows]="5"
                                                        [rowsPerPageOptions]="[5, 10, 20]"
                                                        *ngIf="data?.vitals?.length>0">
                                                        <ng-template #header>
                                                            <tr>
                                                                <th>Nurse Name</th>
                                                                <th>Department</th>
                                                                <th>Date</th>
                                                                <th></th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template #body let-product>
                                                            <tr>
                                                                <td>{{ product.nurse.fullName }}</td>
                                                                <td>{{ product.nurse.department }}</td>
                                                                <td>{{ product.dateRecorded |date:'dd/MM/yyyy hh:mm a'
                                                                    }}</td>
                                                                <td>
                                                                    <span class="pi pi-eye"
                                                                        (click)="DisplayVitalDetails(product.id)"></span>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div *ngIf="data?.vitals?.length<=0" class="text-center">No records
                                                        are found</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <b>Total Prescriptions</b>
                                                        </div>
                                                        <div>
                                                            <p-badge [value]="data?.prescriptions?.length"
                                                                severity="secondary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p-table [value]="data?.prescriptions" [paginator]="true" [rows]="5"
                                                        [rowsPerPageOptions]="[5, 10, 20]"
                                                        *ngIf="data?.prescriptions?.length>0">
                                                        <ng-template #header>
                                                            <tr>
                                                                <th>Prescription ID</th>
                                                                <th>Prescribed By</th>
                                                                <th>Collection Status</th>
                                                                <th>Issue Date</th>
                                                                <th></th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template #body let-product1>
                                                            <tr>
                                                                <td><a
                                                                        [routerLink]="['/app/pharmacist/pharmacist-prescriptions']">#{{
                                                                        product1.prescriptionId}}</a></td>
                                                                <td>Dr.{{ product1.doctorName}}</td>
                                                                <td>
                                                                    <p-tag
                                                                        [value]="getCollectionStatusLabel(product1.collectionStatus)"
                                                                        [severity]="getCollectionStatusSeverity(product1.collectionStatus)"
                                                                        [rounded]="true">
                                                                    </p-tag>
                                                                </td>
                                                                <td>{{ product1.issueDate |date:'dd/MM/yyyy hh:mm a' }}
                                                                </td>
                                                                <td>
                                                                    <span class="pi pi-eye"
                                                                        (click)="showViewPrescriptionDialog(product1.prescriptionId)"></span>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div *ngIf="data?.prescriptions?.length<=0" class="text-center">No
                                                        records are found</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <b>Total Procedures</b>
                                                        </div>
                                                        <div>
                                                            <p-badge [value]="data?.selectedEmergencyProcedures?.length"
                                                                severity="secondary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p-table [value]="data?.selectedEmergencyProcedures"
                                                        [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
                                                        *ngIf="data?.selectedEmergencyProcedures?.length>0">
                                                        <ng-template #header>
                                                            <tr>
                                                                <th>Procedure Name</th>
                                                                <th>Status</th>
                                                                <th>Is Paid</th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template #body let-product2>
                                                            <tr>
                                                                <td><a
                                                                        [routerLink]="['/app/procedure/procedure-requests']">{{
                                                                        product2.procedureName }}</a></td>
                                                                <td>
                                                                    <p-tag
                                                                        [value]="getStatusLabelForProcedure(product2.status)"
                                                                        [severity]="getStatusSeverityForProcedure(product2.status)"
                                                                        [rounded]="true">
                                                                    </p-tag>
                                                                </td>
                                                                <td>{{ product2.isPaid }}
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div *ngIf="data?.selectedEmergencyProcedures?.length<=0"
                                                        class="text-center">No records
                                                        are found</div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-sm next-btn " (click)="activateCallback(1)">
                                                    Back
                                                </button>
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-sm btn-success mr-2"
                                                        *ngIf="!checkForDoctorNotify() && data?.patientDischarge?.dischargeStatus<3"
                                                        (click)="ChangeStatus(3)">
                                                        Mark As Complete
                                                    </button>
                                                    <button class="btn btn-sm mr-2 btn-warning"
                                                        (click)="ChangeStatus(2)" *ngIf="checkForDoctorNotify()">
                                                        Notify Doctor
                                                    </button>
                                                    <button class="btn btn-sm next-btn " (click)="activateCallback(3)"
                                                        [disabled]="checkForDoctorNotify()">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-step-panel>
                                    <p-step-panel [value]="3">
                                        <ng-template #content let-activateCallback="activateCallback">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <b>Total Lab Results</b>
                                                        </div>
                                                        <div>
                                                            <p-badge [value]="data?.prescriptionLabTests?.length"
                                                                severity="secondary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p-table [value]="data?.prescriptionLabTests" [paginator]="true"
                                                        [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
                                                        <ng-template #header>
                                                            <tr>
                                                                <th>Test ID</th>
                                                                <th>Test Name</th>
                                                                <th>Status</th>
                                                                <th></th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template #body let-product2>
                                                            <tr>
                                                                <td><a
                                                                        [routerLink]="['/app/lab-technician/test-requests']">#{{
                                                                        product2.id }}</a></td>
                                                                <td>{{ product2.reportTypeName }}</td>
                                                                <td>
                                                                    <p-tag [value]="getStatusLabel(product2.testStatus)"
                                                                        [severity]="getStatusSeverity(product2.testStatus)"
                                                                        [rounded]="true">
                                                                    </p-tag>
                                                                </td>

                                                                <td>
                                                                    <div *ngIf="product2.testStatus>0">
                                                                        <span class="pi pi-eye"
                                                                            (click)="ViewLabReport(product2.id)"></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <button class="btn btn-sm next-btn " (click)="activateCallback(2)">
                                                        Back
                                                    </button>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-sm mr-2 btn-success"
                                                        (click)="ChangeStatus(5)"
                                                        *ngIf="!checkForLabTechnicianNotify() && data?.patientDischarge?.dischargeStatus<5">
                                                        Mark As Completed
                                                    </button>
                                                    <button class="btn btn-sm mr-2 btn-warning"
                                                        (click)="ChangeStatus(4)" *ngIf="checkForLabTechnicianNotify()">
                                                        Notify Lab Technician
                                                    </button>
                                                    <button class="btn btn-sm next-btn " (click)="activateCallback(4)"
                                                        [disabled]="data?.patientDischarge?.dischargeStatus < 3">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-step-panel>
                                    <p-step-panel [value]="4">
                                        <ng-template #content let-activateCallback="activateCallback">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <b>Total Invoice</b>
                                                        </div>
                                                        <div *ngIf="data?.invoices?.length>0">
                                                            <p-badge [value]="data?.invoices?.length"
                                                                severity="secondary" />
                                                        </div>
                                                        <a [routerLink]="['/app/billing-staff/invoices']"
                                                            *ngIf="data?.invoices?.length<=0"><span
                                                                class="pi pi-arrow-left mr-2"></span>Go To Invoice
                                                            list</a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p-table [value]="data?.invoices" *ngIf="data?.invoices?.length>0"
                                                        [paginator]="true" [rows]="5"
                                                        [rowsPerPageOptions]="[5, 10, 20]">
                                                        <ng-template #header>
                                                            <tr>
                                                                <th>Invoice No</th>
                                                                <th>Invoice Type</th>
                                                                <th>Invoice Date</th>
                                                                <th>Total Amount</th>
                                                                <th></th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template #body let-product3>
                                                            <tr>
                                                                <td><a [routerLink]="['/app/billing-staff/invoices']">{{
                                                                        product3.invoiceNo }}</a></td>
                                                                <td>{{ product3.invoiceType }}</td>
                                                                <td>{{ product3.invoiceDate | date:'dd/MM/yyyy hh:mm a'
                                                                    }}
                                                                </td>
                                                                <td>{{ product3.totalAmount }}</td>
                                                                <td>
                                                                    <div>
                                                                        <span class="pi pi-eye"
                                                                            (click)="viewInvoice(product3.id)"></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <p class="text-center fw-bold" *ngIf="data?.invoices?.length<=0">
                                                        No Invoice found
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <button class="btn btn-sm next-btn " (click)="activateCallback(3)">
                                                        Back
                                                    </button>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-sm mr-2 btn-success"
                                                        (click)="ChangeStatus(7)"
                                                        *ngIf="!checkForBillStaffNotify() && data?.patientDischarge?.dischargeStatus<7">
                                                        Mark As Completed
                                                    </button>
                                                    <button class="btn btn-sm mr-2 btn-warning"
                                                        (click)="ChangeStatus(6)" *ngIf="checkForBillStaffNotify()">
                                                        Notify Billing Staff
                                                    </button>
                                                    <button class="btn btn-sm next-btn " (click)="activateCallback(5)"
                                                        [disabled]="data?.patientDischarge?.dischargeStatus < 4">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-step-panel>
                                    <p-step-panel [value]="5">
                                        <ng-template #content let-activateCallback="activateCallback">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <b>Final Approval</b>
                                                        </div>
                                                        <div *ngIf="data?.patientDischarge?.dischargeStatus ==8"
                                                            class="final-approved-cls">
                                                            <p-button icon="pi pi-check" [rounded]="true"
                                                                severity="success" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p-editor [(ngModel)]="data.patientDischarge.dischargeSummary"
                                                        [style]="{ height: '130px' }" required
                                                        [readonly]="data?.patientDischarge?.dischargeStatus ==8" />

                                                    <div class="d-flex flex-column mt-2"
                                                        *ngIf="data?.patientDischarge?.dischargeStatus <=7">
                                                        <label>Discharge Approved by:</label>
                                                        <p-select [(ngModel)]="data.patientDischarge.doctorId"
                                                            [optionValue]="'id'" name="doctorId" [options]="doctors"
                                                            optionLabel="fullName" placeholder="Select doctor"
                                                            class="w-100" appendTo="body" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <button class="btn btn-sm next-btn " (click)="activateCallback(4)">
                                                        Back
                                                    </button>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-sm btn-success " (click)="FinalApproval()"
                                                        *ngIf="data?.patientDischarge?.dischargeStatus ==7">
                                                        <span class="pi pi-check mr-2"></span>Final Approval
                                                    </button>
                                                    <button class="btn btn-sm btn-danger" (click)="Discharge()"
                                                        *ngIf="data?.patientDischarge?.dischargeStatus ==8">Discharge
                                                        Patient
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-step-panel>
                                </p-step-panels>
                            </div>
                        </div>
                    </p-stepper>
                </div>
            </div>
        </div>
    </section>
</div>
<p-toast></p-toast>
<div class="card flex justify-center">
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '30rem' }">
        <ng-template #header>
            <h6><b>Vital Details</b></h6>
        </ng-template>
        <div class="row" *ngIf="showVitalDetails!=null">
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="fa-solid fa-temperature-three-quarters" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Temperature</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.temperature}} °C</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="fa-solid fa-lungs" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Respiratory Rate</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.respirationRate}} breaths/min</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="pi pi-info" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Height</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.height}} cm</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="fa-solid fa-weight-scale" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Weight</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.weight}} Kg</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="pi pi-calculator" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>BMI</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.bmi}} kg/cm</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="fa-solid fa-droplet" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Blood Pressure</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.bloodPressure}} mmHg</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="fa-solid fa-heart-pulse" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Heart Rate</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.heartRate}} bpm</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <p-button icon="fa-solid fa-mask-ventilator" severity="secondary" class="mr-2" />
                    <div>
                        <h6 class="mb-1 text-truncate"><b>Oxygen Saturation</b>
                        </h6>
                        <p class="mb-0 fs-13 d-inline-flex align-items-center text-truncate">
                            {{showVitalDetails.oxygenSaturation}} %</p>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>