<form class="form-horizontal" autocomplete="off" #formTypeForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header
    [title]="id ? 'Edit Medicine Form Type' : 'Create Medicine Form Types'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <!-- Bulk create mode -->
    <div class="form-group" *ngIf="!id">
      <label><b>Form Type Names *</b></label>
      <p-autoComplete
        [(ngModel)]="selectedFormTypeNames"
        name="formTypeNames"
        [suggestions]="filteredFormTypeNames"
        (completeMethod)="filterFormTypeNames($event)"
        [multiple]="true"
        [typeahead]="false"
        placeholder="Enter or select multiple form type names"
        class="w-100"
        required
      ></p-autoComplete>
    </div>

    <!-- Single update mode -->
    <div class="form-group" *ngIf="id">
      <label for="formTypeName"><b>Name *</b></label>
      <input
        pInputText
        type="text"
        id="formTypeName"
        name="formTypeName"
        class="form-control"
        [(ngModel)]="formType.name"
        required
        maxlength="100"
        placeholder="Enter form type name"
      />
    </div>

    <!-- Active checkbox -->
    <div class="form-group">
      <label for="isActive"><b>Active</b></label>
      <p-checkbox
        inputId="isActive"
        name="isActive"
        [(ngModel)]="isActive"
        binary="true"
      ></p-checkbox>
    </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!isFormValid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
