<form #nurseForm="ngForm">
    <div class="form-group row required mb-0 mt-2">
        <div class="col-md-6">
            <label class="col-form-label">Gender</label>
            <div class="d-flex flex-row">
                <div *ngFor="let gender of genders" class=" mr-2">
                    <p-radiobutton name="gender" [value]="gender" [(ngModel)]="nurseData.gender"
                        (ngModelChange)="onInputChange()" #genderEl required #genderModel="ngModel" size="small"
                        class="mr-2" />
                    <label class="m-0" [for]="'gender_' + gender">{{ gender }}</label>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <label class="col-form-label">Date of Birth</label>
            <p-datepicker [(ngModel)]="nurseData.dateOfBirth" name="dateOfBirth" [showIcon]="true" [maxDate]="today"
                placeholder="Select birth date" (ngModelChange)="onInputChange()" #dobEl #dobModel="ngModel" required>
            </p-datepicker>
            <abp-validation-summary [control]="dobModel" [controlEl]="dobEl"></abp-validation-summary>
        </div>
    </div>


    <div class="form-group row required mb-0 mt-2">
        <div class="col-md-6">
            <label class="col-form-label" for="shiftTiming">Shift Timing</label>
            <p-datepicker [(ngModel)]="nurseData.shiftTiming" [iconDisplay]="'input'" [showIcon]="true"
                [timeOnly]="true" inputId="templatedisplay" required (ngModelChange)="updateData()"
                #shiftModel="ngModel" #shiftEl>
                <ng-template #inputicon let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                </ng-template>
            </p-datepicker>
            <abp-validation-summary [control]="shiftModel" [controlEl]="shiftEl"></abp-validation-summary>

        </div>
        <div class="col-md-6">
            <label class="col-form-label" for="nurseDepartment">Department</label>
            <p-select [options]="departments" placeholder="Select department" optionLabel="name"
                (ngModelChange)="updateData()" #departmentModel="ngModel" #departmentEl optionValue="name"
                [(ngModel)]="nurseData.department" name="emergencyCaseId" class="w-100" required>
            </p-select>
            <abp-validation-summary [control]="departmentModel" [controlEl]="departmentEl"></abp-validation-summary>
        </div>
    </div>

    <div class="form-group row required mb-0 mt-2">
        <div class="col-md-6 d-flex flex-column">
            <label class="col-form-label" for="nurseQualification">Qualification</label>
            <p-select [options]="qualifications" placeholder="Select qualification" optionLabel="label"
                (ngModelChange)="updateData()" optionValue="value" [(ngModel)]="nurseData.qualification"
                name="qualificationId" required #qualificationModel="ngModel" #qualificationEl>
            </p-select>
            <abp-validation-summary [control]="qualificationModel"
                [controlEl]="qualificationEl"></abp-validation-summary>
        </div>
        <div class="col-md-6">
            <label class="col-form-label" for="nurseExperience">Years of Experience</label>
            <p-inputnumber class="w-100" inputId="integeronly" name="experience" required min="0"
                [(ngModel)]="nurseData.yearsOfExperience" (ngModelChange)="updateData()" #expModel="ngModel" #expEl
                placeholder="Enter experience" />
            <abp-validation-summary [control]="expModel" [controlEl]="expEl"></abp-validation-summary>
        </div>
    </div>
</form>