<div [@routerTransition]>
  <!-- Breadcrumb + Toolbar -->
  <section class="content-header">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <p-breadcrumb [model]="items"></p-breadcrumb>
      <div class="btn-toolbar">
        <button type="button" class="btn btn-md refresh-btn mr-2" pTooltip="Refresh" tooltipPosition="top"
          (click)="list()">
          <span class="pi pi-refresh"></span>
        </button>
        <button type="button" class="btn btn-md add-btn" (click)="createDepartment()">
          <span class="pi pi-plus-circle mr-2"></span> Add
        </button>
      </div>
    </div>
  </section>

  <!-- Table Section -->
  <section class="content px-2 pb-5">
    <div class="container-fluid">
      <div class="card table-wrapper">
        <div class="card-body">
          <p-table #dataTable [value]="primengTableHelper.records" [lazy]="true" (onLazyLoad)="list($event)"
            [paginator]="false" [rows]="primengTableHelper.defaultRecordsCountPerPage"
            [tableStyle]="{'min-width':'30rem'}" sortMode="multiple">

            <!-- Header -->
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 150px">Name</th>
                <th style="min-width: 150px">Department Type</th>
                <th style="min-width: 100px">IsActive</th>
                <th style="min-width: 130px">Actions</th>
              </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-department>
              <tr>
                <td>{{ department.departmentName }}</td>
                <td>{{ department.departmentType === 0 ? 'Doctor' : 'Lab Technician' }}</td>
                <td>{{ department.isActive === 1 ? 'Yes' : 'No' }}</td>
                <td>
                  <!-- Row Menu -->
                  <button class="btn btn-sm border rounded-1 px-3" type="button"
                    (click)="rowMenu.toggle($event); selectedRecord = department">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                  <p-menu #rowMenu [popup]="true" [style]="{'min-width':'100px','max-width':'160px'}"
                    [model]="editDeleteMenus" appendTo="body">
                  </p-menu>
                </td>
              </tr>
            </ng-template>

          </p-table>

          <!-- No Data -->
          <div class="primeng-no-data text-center m-2" *ngIf="primengTableHelper.totalRecordsCount === 0">
            No departments found.
          </div>
        </div>

        <!-- Paginator -->
        <p-paginator #paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
          [totalRecords]="primengTableHelper.totalRecordsCount" (onPageChange)="list($event)"
          [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
          [currentPageReportTemplate]="'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount">
        </p-paginator>
      </div>
    </div>
  </section>
</div>