<form class="form-horizontal" autocomplete="off" #editUserForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'EditUser' | localize" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>

    <div class="modal-body">

        <!-- Role Dropdown -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">{{ 'Role' | localize }}</label>
            <div class="col-md-9">
                <select class="form-control" [(ngModel)]="selectedRole" name="selectedRole" required
                    (change)="onRoleChange(selectedRole)">
                    <option [ngValue]="null" disabled>{{ 'SelectRole' | localize }}</option>
                    <option *ngFor="let role of roles" [ngValue]="role.normalizedName">
                        {{ role.displayName }}
                    </option>
                </select>
            </div>
        </div>
        <!-- Name -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">{{ 'Name' | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" name="name" required maxlength="64"
                    [(ngModel)]="user.name" #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <!-- Surname -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="surname">{{ 'Surname' | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="surname" name="surname" required maxlength="64"
                    [(ngModel)]="user.surname" #surnameModel="ngModel" #surnameEl />
                <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
            </div>
        </div>
        <!-- UserName -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="userName">{{ 'UserName' | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="userName" name="userName" required maxlength="256"
                    [(ngModel)]="user.userName" #userNameModel="ngModel" #userNameEl />
                <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
            </div>
        </div>
        <!-- Email -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="emailAddress">{{ 'EmailAddress' | localize }}</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="emailAddress" name="emailAddress" required maxlength="256"
                    [(ngModel)]="user.emailAddress" #emailModel="ngModel" #emailEl />
                <abp-validation-summary [control]="emailModel" [controlEl]="emailEl"></abp-validation-summary>
            </div>
        </div>
        <!-- IsActive -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label">{{ 'IsActive' | localize }}</label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isActive" name="isActive"
                        [(ngModel)]="user.isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>
        </div>

        <app-edit-doctor *ngIf="selectedRole === 'DOCTORS'" [doctorData]="doctorData"
            (doctorDataChange)="onDoctorDataChange($event)">
        </app-edit-doctor>

        <app-edit-nurse *ngIf="selectedRole === 'NURSE'" [nurseData]="nurseData"
            (nurseDataChange)="onNurseDataChange($event)">
        </app-edit-nurse>

        <app-edit-lab-technician *ngIf="selectedRole === 'LAB TECHNICIAN'" [technicianData]="technicianData"
            (technicianDataChange)="onLabTechnicianDataChange($event)">
        </app-edit-lab-technician>

    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!isFormValid || saving"
        (onCancelClick)="bsModalRef.hide()">
    </abp-modal-footer>
</form>