<form class="form-horizontal" autocomplete="off" #editUserForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'EditUser' | localize" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>

    <div class="modal-body">
        <div class="d-flex justify-content-end">
            <div>
                <label>{{ 'IsActive' | localize }}</label>
            </div>
            <div class="ml-2">
                <p-checkbox [(ngModel)]="user.isActive" [binary]="true" name="isActive" />
            </div>
        </div>

        <!-- Role Selection -->
        <div class="form-group row required mb-0">
            <div class="col-md-12">
                <label class="col-form-label" for="userRole">
                    {{ 'Role' | localize }}
                </label>
                <p-select [options]="roles" placeholder="Select role" optionLabel="displayName"
                    optionValue="normalizedName" [(ngModel)]="selectedRole" name="userRole" class="w-100" required
                    #roleModel="ngModel" (change)="onRoleChange(selectedRole)" placeholder="Select role">
                </p-select>
            </div>
        </div>
        <div class="form-group row required mb-0">
            <div class="col-md-6 d-flex flex-column">
                <label class="col-form-label" for="name">
                    {{ 'Name' | localize }}
                </label>
                <input type="text" pInputText name="name" id="name" required maxlength="64" [(ngModel)]="user.name"
                    #nameModel="ngModel" #nameEl placeholder="Enter name" />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <label class="col-form-label" for="surname">
                    {{ 'Surname' | localize }}
                </label>
                <input type="text" pInputText name="surname" id="surname" required maxlength="64"
                    [(ngModel)]="user.surname" #surnameModel="ngModel" #surnameEl placeholder="Enter surname" />
                <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required mb-0">
            <div class="col-md-6 d-flex flex-column">
                <label class="col-form-label" for="userName">
                    {{ 'UserName' | localize }}
                </label>
                <input type="text" pInputText name="userName" id="userName" required minlength="2" maxlength="256"
                    [(ngModel)]="user.userName" #userNameModel="ngModel" #userNameEl placeholder="Enter username" />
                <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <label class="col-form-label" for="emailAddress">
                    {{ 'EmailAddress' | localize }}
                </label>
                <input type="email" pInputText name="emailAddress" id="emailAddress" required maxlength="256"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" [(ngModel)]="user.emailAddress"
                    placeholder="Enter email address" #emailAddressModel="ngModel" #emailAddressEl />
                <abp-validation-summary [control]="emailAddressModel"
                    [controlEl]="emailAddressEl"></abp-validation-summary>
            </div>
        </div>

        <app-edit-doctor *ngIf="selectedRole === 'DOCTOR'" [doctorData]="doctorData"
            (doctorDataChange)="onDoctorDataChange($event)">
        </app-edit-doctor>

        <app-edit-nurse *ngIf="selectedRole === 'NURSE'" [nurseData]="nurseData"
            (nurseDataChange)="onNurseDataChange($event)">
        </app-edit-nurse>

        <app-edit-lab-technician *ngIf="selectedRole === 'LAB TECHNICIAN'" [technicianData]="technicianData"
            (technicianDataChange)="onLabTechnicianDataChange($event)">
        </app-edit-lab-technician>

        <app-edit-patients *ngIf="selectedRole==='PATIENT'" [patientData]="patientData"
            (patientDataChange)="onPatientDataChange($event)">
        </app-edit-patients>
    </div>

    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!isFormValid || saving"
        (onCancelClick)="bsModalRef.hide()">
    </abp-modal-footer>
</form>