<form #patientForm="ngForm">

  <div class="form-group row required mb-0 mt-2">
    <div class="col-md-4">
      <label class="col-form-label">Gender</label>
      <div class="d-flex flex-row">
        <div *ngFor="let gender of genders" class=" mr-2">
          <p-radiobutton name="gender" [value]="gender" [(ngModel)]="patient.gender" (ngModelChange)="onInputChange()"
            #genderEl required #genderModel="ngModel" size="small" class="mr-2" />
          <label class="m-0" [for]="'gender_' + gender">{{ gender }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex flex-column">
      <label class="col-form-label" for="bloodGroup">Blood Group</label>
      <p-select [options]="bloodGroups" placeholder="Select bloodGroup" optionLabel="label"
        (ngModelChange)="onInputChange()" #bloodGroupModel="ngModel" #bloodGroupEl optionValue="value"
        [(ngModel)]="patient.bloodGroup" name="bloodGroup" required>
      </p-select>
      <abp-validation-summary [control]="bloodGroupModel" [controlEl]="bloodGroupEl"></abp-validation-summary>
    </div>

    <div class="col-md-5 d-flex flex-column">
      <label class="col-form-label">Date of Birth</label>
      <p-datepicker [(ngModel)]="patient.dateOfBirth" name="dateOfBirth" [showIcon]="true" [maxDate]="today"
        placeholder="Select birth date" (ngModelChange)="onInputChange()" #dobEl #dobModel="ngModel" required>
      </p-datepicker>
      <abp-validation-summary [control]="dobModel" [controlEl]="dobEl"></abp-validation-summary>
    </div>
  </div>


  <div class="form-group row required mb-0 mt-2">
    <div class="col-md-6">
      <label class="col-form-label" for="emergencyName">Emergency Contact Name</label>
      <input type="text" id="emergencyName" name="emergencyName" pInputText class="w-100" required
        [(ngModel)]="patient.emergencyContactName" (ngModelChange)="onInputChange()" #emergencyNameModel="ngModel"
        #emergencyNameEl placeholder="Enter emergency contact name">
      <abp-validation-summary [control]="emergencyNameModel" [controlEl]="emergencyNameEl"></abp-validation-summary>
    </div>
    <div class="col-md-6">
      <label class="col-form-label" for="emergencyNumber">Emergency Contact Number</label>
      <input type="text" id="emergencyNumber" name="emergencyNumber" pInputText class="w-100" required
        [(ngModel)]="patient.emergencyContactNumber" (ngModelChange)="onInputChange()" #emergencyNumberModel="ngModel"
        #emergencyNumberEl pattern="^[0-9]{10}$" maxlength="10" minlength="10"
        placeholder="Enter emergency contact number">
      <abp-validation-summary [control]="emergencyNumberModel" [controlEl]="emergencyNumberEl"></abp-validation-summary>
    </div>
  </div>


  <!-- Address -->
  <div class="form-group row required mb-0 mt-2">
    <div class="col-md-12 d-flex flex-column">
      <label class="col-form-label" for="address">Address</label>
      <textarea id="address" name="address"  [(ngModel)]="patient.address" (ngModelChange)="onInputChange()" rows="5" cols="30" pTextarea  required
        #addressModel="ngModel" #addressEl placeholder="Enter address"></textarea>
      <abp-validation-summary [control]="addressModel" [controlEl]="addressEl"></abp-validation-summary>
    </div>
  </div>
</form>