<form #labTechnicianForm="ngForm">
  <!-- Gender -->
  <div class="form-group row required mb-0 mt-2">
    <div class="col-md-6">
      <label class="col-form-label">Gender</label>
      <div class="d-flex flex-row">
        <div *ngFor="let gender of genders" class=" mr-2">
          <p-radiobutton name="gender" [value]="gender" [(ngModel)]="technicianData.gender"
            (ngModelChange)="onInputChange()" #genderEl required #genderModel="ngModel" size="small" class="mr-2" />
          <label class="m-0" [for]="'gender_' + gender">{{ gender }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex flex-column">
      <label class="col-form-label">Date of Birth</label>
      <p-datepicker [(ngModel)]="technicianData.dateOfBirth" name="dateOfBirth" [showIcon]="true" [maxDate]="today"
        class="w-100" placeholder="Select birth date" (ngModelChange)="onInputChange()" #dobEl #dobModel="ngModel"
        required>
      </p-datepicker>
      <abp-validation-summary [control]="dobModel" [controlEl]="dobEl"></abp-validation-summary>
    </div>
  </div>

  <div class="form-group row required mb-0 mt-2">
    <div class="col-md-6 d-flex flex-column">
      <label class="col-form-label" for="qualification">Qualification</label>
      <input type="text" id="qualification" name="qualification" pInputText required
        [(ngModel)]="technicianData.qualification" (ngModelChange)="onInputChange()" #qualificationModel="ngModel"
        #qualificationEl>
      <abp-validation-summary [control]="qualificationModel" [controlEl]="qualificationEl"></abp-validation-summary>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <label class="col-form-label" for="experience">Years of Experience</label>
      <p-inputnumber class="w-100" inputId="integeronly" name="experience" required min="0"
        [(ngModel)]="technicianData.yearsOfExperience" (ngModelChange)="onInputChange()" #expModel="ngModel" #expEl
        placeholder="Enter experience" />
    </div>
  </div>

  <div class="form-group row required mb-0 mt-2">
    <div class="col-md-6 d-flex flex-column">
      <label class="col-form-label" for="department">Department</label>
      <p-select [options]="departments" placeholder="Select department" optionLabel="name"
        (ngModelChange)="onInputChange()" #departmentModel="ngModel" #departmentEl optionValue="id"
        [(ngModel)]="technicianData.departmentId" name="emergencyCaseId" class="w-100" required>
      </p-select>
      <abp-validation-summary [control]="departmentModel" [controlEl]="departmentEl"></abp-validation-summary>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <label class="col-form-label" for="registration">Certification Number</label>
      <input type="text" id="registration" name="certificationNumber" pInputText required
        [(ngModel)]="technicianData.certificationNumber" (ngModelChange)="onInputChange()" #regModel="ngModel" #regEl>
      <abp-validation-summary [control]="regModel" [controlEl]="regEl"></abp-validation-summary>
    </div>
  </div>
</form>