/* add-data-dialog.component.css */
:host {
  display: block;
}

.field label {
  display: block;
  margin-bottom: 0.5rem;
}

.field input {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-2 {
  gap: 0.5rem;
}