<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p-breadcrumb [model]="items" />
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-1" role="group" aria-label="Third group" pTooltip="Refresh" tooltipPosition="top"
            (click)="refresh()">
            <button type="button" class="btn btn-md refresh-btn">
              <span class="pi pi-refresh"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-2 pb-5">
    <div class="container-fluid">
      <div class="card mb-0 table-wrapper">
        <div class="card-body">
          <div class="d-flex justify-content-end align-items-center mb-3">
            <div>
              <input class="search-bar-text" type="text" pInputText [(ngModel)]="keyword" pSize="small"
                [placeholder]="'SearchWithThreeDot' | localize" (input)="list()" />
            </div>
          </div>
          <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
            [tableStyle]="{ 'min-width': '50rem' }" (onLazyLoad)="list($event)">

            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">Patient</th>
                <th class="text-center">Total Credit Amount</th>
                <th class="text-center">Total Debit Amount</th>
                <th class="text-center">Total Balance</th>
                <th class="text-center">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-record="$implicit">
              <tr>
                <td class="text-center">{{ record.patientName }}</td>
                <td class="text-center">{{ record.totalCreditAmount }}</td>
                <td class="text-center">{{ record.totalDebitAmount }}</td>
                <td class="text-center">
                  <span *ngIf="record.totalBalance < 0" class="badge-soft-danger p-1 rounded"><b>{{record.totalBalance}}</b>
                  </span>
                  <span *ngIf="record.totalBalance >= 0" class="badge-soft-success p-1 rounded"><b>{{record.totalBalance}}</b>
                  </span>
                </td>
                <td class="text-center">
                  <button class="btn btn-sm border rounded-1 px-3" type="button" style="background-color: #f8fafc;"
                    (click)="rowMenu.toggle($event); selectedRecord = record">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                  <p-menu #rowMenu [popup]="true" [style]="{'min-width':'80px', 'max-width':'150px'}"
                    [model]="editDeleteMenus" appendTo="body"></p-menu>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="primeng-no-data text-center m-2" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{ 'NoData' | localize }}
          </div>
        </div>

        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="list($event)"
          [totalRecords]="primengTableHelper.totalRecordsCount"
          [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
          [currentPageReportTemplate]="'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount">
        </p-paginator>
      </div>

    </div>
  </section>
</div>