.status-scheduled {
    background-color: #ffc107;
    padding: 5px;
    font-weight: 800;
    color: white;
    border-radius: 8px;
}

.status-checkedin {
    background-color: #0dcaf0;
    padding: 5px;
    font-weight: 800;
    color: white;
    border-radius: 8px;
}

.status-completed {
    background-color: #198754;
    padding: 5px;
    font-weight: 800;
    color: white;
    border-radius: 8px;
}

.status-cancelled {
    background-color: #dc3545;
    padding: 5px;
    font-weight: 800;
    color: white;
    border-radius: 8px;
}

.status-rescheduled {
    background-color: #0d6efd;
    padding: 5px;
    font-weight: 800;
    color: white;
    border-radius: 8px;
}

::ng-deep .p-breadcrumb {
    background: none !important;
    padding: 0 !important;
}

::ng-deep .add-btn {
    background-color: #1F6DB2 !important;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

::ng-deep .add-btn:hover {
    color: white;
    font-size: 13px;
    font-weight: 600;
}

::ng-deep .refresh-btn {
    background: white;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
}

::ng-deep .p-card-header {
    border-bottom: 1px solid #E2E8F0;
}

::ng-deep .p-card {
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 700;
}

::ng-deep .header-content {
    padding: 1.5rem;
}

::ng-deep .dropdown-toggle:after {
    display: inline-block;
    vertical-align: 0;
    border: 0;
    font-size: 14px;
    position: relative;
    content: "\f107";
    font-family: "FontAwesome";
}

::ng-deep .search-bar-text {
    padding: 5px !important;
}

::ng-deep .p-popover-content {
    padding: 0px !important;
}

::ng-deep .p-datatable-thead {
    line-height: 2.5rem !important;
}

::ng-deep .p-datatable {
    border: 1px solid #E2E8F0;
}

::ng-deep .p-datatable th {
    padding: 5px 10px !important;
}

::ng-deep .p-datatable td {
    padding: 8px 12px !important;
}

::ng-deep .edit-delete-btn {
    background: white;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
}


::ng-deep .badge-soft-primary {
    color: #1F6DB2;
    background-color: #EBF2F9;
}

::ng-deep .badge-soft-success {
    color: #09800F;
    background-color: #EEF9F1;
}

::ng-deep .badge-soft-warning {
    color: #FDAF22;
    background-color: #FFF8EF;
}

::ng-deep .badge-soft-danger {
    color: #B71C1C;
    background-color: #FBECEA;
}

::ng-deep .badge-soft-purple {
    color: #6A1B9A;
    background-color: #F1EBF7;
}

::ng-deep .badge-soft-teal {
    color: #00796B;
    background-color: #EBF2F1;
}