<form class="form-horizontal" autocomplete="off" #editAppoinmentForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Edit Appoinment" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <b>Select Patient</b>
                <p-select [options]="patients" optionLabel="fullName" placeholder="Select a patient"
                    [optionValue]="'id'" [(ngModel)]="appointment.patientId" name="patientId" class="w-100" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex flex-column">
                <label for="buttondisplay"> Select Doctor </label>
                <p-select [(ngModel)]="appointment.doctorId" [optionValue]="'id'" name="doctorId" [options]="doctors"
                    optionLabel="fullName" placeholder="Select doctor" class="w-100" required />
            </div>
            <div class="col-md-6 d-flex flex-column">
                <label for="buttondisplay"> Select Nurse </label>
                <p-select [(ngModel)]="appointment.nurseId" [optionValue]="'id'" name="nurseId" [options]="nurse"
                    optionLabel="fullName" placeholder="Select nurse" class="w-100" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 d-flex flex-column">
                <div>
                    <label for="buttondisplay"> Status </label>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-9">
                            <p-select [(ngModel)]="appointment.status" name="status" [options]="statusOptions"
                                [optionValue]="'value'" optionLabel="label" placeholder="Appointment Status"
                                class="w-100" required />
                        </div>
                        <div class="col-md-3">
                            <p-checkbox [(ngModel)]="appointment.isFollowUp" name="isFollowUp" binary="true" />
                            <span class="ml-2"><b>Is FollowUp</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex flex-column">
                <label for="buttondisplay"> Appointment Date </label>
                <p-datepicker [(ngModel)]="appointment.appointmentDate" name="appointmentDate" [showIcon]="true"
                    placeholder="Select appointment date" [minDate]="tomorrow" required />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column">
                        <label for="buttondisplay"> Start Time </label>
                        <p-datepicker [(ngModel)]="appointment.startTime" name="startTime" [timeOnly]="true"
                            placeholder="Select start time" required />
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <label for="buttondisplay"> End Time </label>
                        <p-datepicker [(ngModel)]="appointment.endTime" name="endTime" [timeOnly]="true"
                            placeholder="Select end time" required />
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 d-flex flex-column">
                <label for="buttondisplay"> Reason </label>
                <textarea pTextarea [(ngModel)]="appointment.reasonForVisit" name="reasonForVisit"
                    placeholder="Reason for visit" rows="3" class="w-100" required></textarea>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="isSaveDisabled()"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>