<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p-breadcrumb [model]="items" />
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-1" role="group" aria-label="Refresh group" pTooltip="Refresh" tooltipPosition="top" (click)="refresh()">
                        <button type="button" class="btn btn-md refresh-btn">
                            <span class="pi pi-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2 pb-5">
        <div class="container-fluid">
            <div class="card mb-0 table-wrapper">
                <div class="card-body">
                    <!-- Search Bar -->
                    <div class="d-flex justify-content-end  align-items-center mb-3">
                        <div>
                            <input class="search-bar-text" type="text" pInputText [(ngModel)]="keyword" pSize="small"
                                [placeholder]="'SearchWithThreeDot' | localize" (input)="list()" />
                        </div>
                    </div>

                    <!-- Table -->
                    <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                             rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                             [lazy]="true" [tableStyle]="{ 'min-width': '50rem' }" (onLazyLoad)="list($event)">
                        <ng-template #header>
                            <tr>
                                <th class="text-center">Patient Name</th>
                                <th class="text-center">Gender</th>
                                <th class="text-center">Date</th>
                                <th class="text-center" *ngIf="showDoctorColumn">Referred By</th>
                                <th class="text-center">Test Type</th>
                                <th class="text-center">{{ 'Status' | localize }}</th>
                                <th class="text-center">{{ 'Actions' | localize }}</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td class="text-center">{{ record.patientName }}</td>
                                <td class="text-center">{{ record.gender }}</td>
                                <td class="text-center">{{ record.date | date: 'dd/MM/yyyy' }}</td>
                                <td class="text-center" *ngIf="showDoctorColumn">Dr. {{ record.doctorName }}</td>
                                <td class="text-center">{{ record.labReportTypeName }}</td>
                                <td class="text-center">
                                    <span [className]="getStatusSeverity(record.testStatus)">
                                        {{getStatusLabel(record.testStatus)}}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button type="button" pButton icon="pi pi-eye" class="p-button-text"
                                            (click)="ViewLabReport(record.id)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <!-- No Data Message -->
                    <div class="primeng-no-data text-center mt-2" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ 'NoData' | localize }}
                    </div>
                </div>
<p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="list($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                        "></p-paginator>

            </div>
        </div>
    </section>
</div>
