<div [@routerTransition]>
  <!-- Breadcrumb + Toolbar -->
  <section class="content-header">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <p-breadcrumb [model]="items"></p-breadcrumb>
      <div class="btn-toolbar">
        <button type="button" class="btn btn-md refresh-btn mr-2"
                pTooltip="Refresh" tooltipPosition="top"
                (click)="list()">
          <span class="pi pi-refresh"></span>
        </button>
        <button type="button" class="btn btn-md add-btn"
                (click)="createAppointmentType()">
          <span class="pi pi-plus-circle mr-2"></span> Add
        </button>
      </div>
    </div>
  </section>

  <!-- Table Section -->
  <section class="content px-2 pb-5">
    <div class="container-fluid">
      <div class="card table-wrapper">
        <div class="card-body">
          <p-table #dataTable
                   [value]="primengTableHelper.records"
                   [lazy]="true"
                   (onLazyLoad)="list($event)"
                   [paginator]="false"
                   [rows]="primengTableHelper.defaultRecordsCountPerPage"
                   [tableStyle]="{'min-width':'30rem'}"
                   sortMode="multiple">

            <!-- Header -->
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name" style="min-width: 150px">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="fee" style="min-width: 150px">Fee <p-sortIcon field="fee"></p-sortIcon></th>
                <th pSortableColumn="description" style="min-width: 150px">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th style="min-width: 130px">Actions</th>
              </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-appointmentType>
              <tr>
                <td>{{ appointmentType.name }}</td>
                <td>{{ appointmentType.fee }}</td>
                <td>{{ appointmentType.description }}</td>
                <td>
                  <button class="btn btn-sm border rounded-1 px-3"
                          type="button"
                          (click)="rowMenu.toggle($event); selectedRecord = appointmentType">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                  <p-menu #rowMenu [popup]="true"
                          [style]="{'min-width':'100px','max-width':'160px'}"
                          [model]="editDeleteMenus"
                          appendTo="body">
                  </p-menu>
                </td>
              </tr>
            </ng-template>

          </p-table>

          <!-- No data -->
          <div class="primeng-no-data text-center m-2" *ngIf="primengTableHelper.totalRecordsCount === 0">
            No appointment types found.
          </div>
        </div>

        <!-- Paginator -->
        <p-paginator #paginator
                     [rows]="primengTableHelper.defaultRecordsCountPerPage"
                     [totalRecords]="primengTableHelper.totalRecordsCount"
                     (onPageChange)="list($event)"
                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                     [showCurrentPageReport]="true"
                     [currentPageReportTemplate]="'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount">
        </p-paginator>
      </div>
    </div>
  </section>
</div>
