::ng-deep .p-fieldset-legend {
  background: none !important;
  width: auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border: none !important;
  font-size: 15px !important;
}